nav {
    display: flex;
    justify-content: center;
    background-color: rgb(45, 0, 70);
    color: white;
    padding: 2px;
}

.userInput {
    padding: 13px 47.5px;
    border-radius: 6px;
}

.button {
    margin-top: 10px;
    display: block;
    padding: 10px 110px;
    background-color: cornflowerblue;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    border-color: cornflowerblue;
}

.button:hover {
    background-color:black;
    border-color: black;
}

.main {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.allWeather {
    width: 75%;
    display: none;
}

.currentWeather {
    border: 2px solid black;
    border-radius: 10px;
    text-align: center;
}

 .forecast {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly; 
}

#cards {
    background-color: rgb(53, 53, 87);
    padding-left: 5px;
    padding-right: 30px;
    color: white;
}

.historyContainer {
    display: flex;
    margin-top: 20px;
    margin-left: 70px;
}